<h1>New Genre</h1>

{{#if genre}}
<h2>{{genre.name}}</h2>
<input type="hidden" name="id" value="{{genre.id}}">
{{/if}}

<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" name="name" {{#if genre}}value="{{genre.name}}" {{/if}}>
</div>


<form action="/genres/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <div>
        <label for="genre">Genre Name</label>
        <input type="text" id="genre" name="name" {{#if genre}}value="{{genre.name}}" {{/if}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>