<h1>New Game</h1>

{{#if game}}
<div>
    <h2>{{game.title}}</h2>
    <input type="hidden" name="id" value="{{gameIndex}}">
</div>
{{/if}}

<form action="/games/upsert" role="form" method="post">
    <div>
        <label for="game_name">Game Name</label>
        <input type="text" id="game_name" name="title" {{#if game}}value="{{game.title}}" {{/if}}>
    </div>
    <div>
        <label for="developer">Developer</label>
        <input type="text" id="developer" name="developer" {{#if game}}value="{{game.developer}}" {{/if}}>
    </div>
    <div>
        <label for="genreId">Genre</label>
        <select name="genreId" id="genreId">
            <option disabled selected value>-- select Genre --</option>
            {{#each genres}}
            <option value="{{@index}}" {{#if (and @root.game (eq @root.game.genreId @index))}}selected{{/if}}>
                {{this.name}}
            </option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>