<h1>Add New Game</h1>

<br>

<form action="/games/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    {{#if game}}
    <div>
        <h2>{{game.title}}</h2>
        <input type="hidden" name="id" value="{{game.id}}">
    </div>
    {{/if}}

    <div>
        <label for="game">Game</label>
        <input type="text" id="game" name="title" {{#if game}}value="{{game.title}}" {{/if}}>
    </div>

    <div>
        <label for="dev">Developer</label>
        <input type="text" id="dev" name="developer" {{#if game}}value="{{game.developer}}" {{/if}}>
    </div>

    <div>
        <label for="developer">Rating</label>
        <input type="number" step="1" placeholder="No Rating Yet" id="rating" name="rating" {{#if
            rating}}value="{{game.rating}}" {{/if}}>
    </div>

    <div>
        <label for="release_date">Release Date</label>
        <input type="number" step="1" placeholder="2024" id="release_date" name="releaseDate" {{#if
            game}}value="{{game.releaseDate}}" {{/if}}>
    </div>


    <div>
        <label for="genreId">Genre</label>
        <select name="genreId" id="genreId">
            <option disabled value>-- select Genre --</option>
            {{#each genres}}
            <option value="{{this.id}}" {{#if (and @root.game (eq @root.game.genreId this.id))}}selected{{/if}}>
                {{this.name}}
            </option>
            {{/each}}
        </select>
    </div>
</form>

<br>
<button type="submit" class="btn btn-primary">Submit</button>
</form>