<h1>New Console</h1>

<form action="/consoles/upsert" role="form" method="post">
    {{#if console}}
    <div>
        <h2>{{console.name}} </h2>
        <input type="hidden" name="id" value="{{consoleIndex}}">
    </div>
    {{/if}}
    <div>
        <label for="console_name">Console Name</label>
        <input type="text" id="console_name" name="name" {{#if console}}value="{{console.name}}" {{/if}}>
    </div>
    <div class="mb-3">
        <label for="gameId">Game</label>
        <select name="gameId" id="gameId">
            <option disabled selected value>-- select Game --</option>
            {{#each games}}
            <option value="{{@index}}">
                {{this.title}}
            </option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>