<h1>{{console.name}}</h1>

{{#if game}}
<p>Written by {{game.title}} </p>
{{/if}}

{{#if currentUser}}
<div>
    <form action="/consoles_users/upsert" role="form" method="post">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="consoleId" value="{{consoleId}}">
        <input type="hidden" name="userEmail" value="{{currentUser.email}}">
        <label for="games">Games</label>
        <select name="games" id="games">
            {{#unless (and userConsole userConsole.games)}}
            <option disabled value>-- select Games --</option>
            {{/unless}}
            {{#each games}}
            <option value="{{this}}" {{#if (and @root.userConsole (eq @root.userConsole.games this))}}selected{{/if}}>
                {{this}}</option>
            {{/each}}
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
{{/if}}